@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}
body{
    background-color: #F9F6EE;
    padding-top: 65px; 

    
}
.header{
    width: 100%;
    height: 80px;
    background-color: #41403d;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    color: white;
    z-index: 10;
}
#search input{
    outline: none;
    border: none;
    width: 350px;
    height: 30px;
    font-size: 1.2rem;
    padding: 0 1rem;
    gap: 20px;

}

#search {
    width: 100%;
    margin: 25px 300px;
    display: flex;
}
#review{
    padding: 2rem 0 1rem 0;
    border: 1px solid darkblue;
    background-color: aliceblue;
    top: 50px;
    text-align: center;
    overflow: hidden;
    position: relative;

}
#topAnimesTitle{
    color: aliceblue;
    right: 175px;
    position: relative;
    font-size: 20px;



}
#summary{
    padding: 2rem 0 1rem 0;
    border: 1px solid darkblue;
    background-color: aliceblue;
    top: 50px;
    text-align: center;
    overflow: hidden;
    position: relative;

}

.top{
    display: flex;
    flex-direction: column;
}
.cardList{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 50px;
    align-items: stretch;

}
.card{
    width: 300px;
    height: 450px;
    box-shadow: 5px 5px 5px rgba(0,0,0.1,0.3);
    text-align: center;
    position: relative;
    display: flex;
    background: #6a6a6f;
    border-radius: 7px;
}
.card img{
    width: 250px;
    height: 200px;
    padding: 5;
}
.card p{
    padding: 10px;
  }


.mylist{
    position: absolute;
    bottom: 20px;
    right: 50px;
    padding: 0.5rem;
    background-color: rgb(211,177,145);
    font-size: 1rem;
    font-weight: bold;
}

